<a href="{{ recipe.url | relative_url }}" class="recipe-card-link">
    <div class="recipe-card">
        <div class="recipe-card-image-container">
            {% comment %}
            Logika wyświetlania obrazka dla karty:
            Preferuje recipe.image_main.
            Jeśli recipe.image_main jest puste, używa site.data.placeholders.recipe_image.
            W ostateczności używa domyślnej ścieżki /images/general/placeholder-recipe.jpg.
            {% endcomment %}
            {% assign default_placeholder_path = '/images/general/placeholder-recipe.jpg' %}
            {% assign final_card_image_path = recipe.image_main | default: site.data.placeholders.recipe_image | default: default_placeholder_path %}
            
            <img src="{{ final_card_image_path | relative_url }}" alt="{{ recipe.title | default: 'Brak zdjęcia przepisu' }}" loading="lazy">
        </div>
        <h3 class="recipe-card-title">{{ recipe.title }}</h3>
    </div>
</a>
