/* ==========================================================================
   4. STYLE STRON
   ========================================================================== */

/* --------------------------------------------------------------------------
   4.4. Strona Kategorii
   -------------------------------------------------------------------------- */
.category-page-wrapper {
    max-width: 960px; /* Nieco mniejsza szerokość niż 1200px dla ogólnego .content, ale dostosowana do contentu strony kategorii */
    margin: 0 auto; /* Wyśrodkowanie na stronie */
    padding: var(--spacing-lg) var(--spacing-md); /* Wewnętrzny odstęp */
    background-color: var(--color-white); /* Białe tło, jak w przepisach */
    box-shadow: var(--shadow-md); /* Delikatny cień */
    border-radius: var(--border-radius-md); /* Zaokrąglone rogi */
    margin-top: var(--spacing-md); /* Odstęp od góry, jeśli jest potrzebny */
    margin-bottom: var(--spacing-lg); /* Odstęp od dołu */
}

.category-header {
    text-align: center;
    margin-bottom: var(--spacing-xl);
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: var(--spacing-lg) var(--spacing-md) var(--spacing-sm);
}

.category-header .category-title {
    font-family: var(--font-family-headings);
    font-size: 2.8rem;
    margin-bottom: var(--spacing-xs);
    color: var(--color-primary);
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.category-header .category-description {
    font-weight: var(--font-weight-light);
    font-size: 1.2rem;
    margin: 0;
    color: var(--color-text-dark);
    line-height: 1.4;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
