

/* ==========================================================================
   3. KOMPONENTY
   ========================================================================== */
/* 3.1. Przyciski */
.button {
    display: inline-block;
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--spacing-sm);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    border-radius: var(--border-radius-sm);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
}

.button.primary-button {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.button.primary-button:hover {
    background-color: var(--color-primary);
    color: var(--color-background-light);
}

.button.secondary-button {
    background-color: var(--color-primary); /* Zakładam, że --color-primary to Twój główny kolor tła dla secondary button */
    color: var(--color-background-light);
    border: none;
}

.button.secondary-button:hover {
    background-color: var(--color-text-dark);
}

/* Zmodyfikowany .print-button (teraz bardzo uproszczony, ponieważ dziedziczy z .button i .secondary-button) */
.print-button {
    /* W zasadzie nie potrzebujemy tu żadnych stylów,
       ponieważ przycisk drukuj ma już klasy `button` i `secondary-button`.
       Te klasy nadają mu wygląd.
       Pozostawiam ten selektor tylko na wypadek, gdybyś chciał w przyszłości
       dodać do niego bardzo specyficzne, nadpisujące style, które
       nie pasowałyby do ogólnego secondary-button.
       Jeśli nie masz takich planów, możesz go nawet usunąć z CSS. */
}
