---
layout: default
---

<div class="category-page-wrapper">
    <header class="category-header">
        <h1 class="category-title">{{ page.title }}</h1>
        <p class="category-description">{{ page.description }}</p>
    </header>
    <div class="recipes-grid">
{% assign category_slug = page.slug %}
{% assign filtered_recipes = site.recipes | where: "category", category_slug %}

{% if filtered_recipes.size > 0 %}
    {% for recipe in filtered_recipes %}
        {% include recipe_card.html recipe=recipe %}
    {% endfor %}
{% else %}
    <p class="no-recipes-message">Brak przepisów w tej kategorii. Wróć tu wkrótce!</p>
{% endif %}

    </div>
    <div class="button-container">
        <a href="{{ '/' | relative_url }}#kategorie" class="button secondary-button">Wróć do kategorii &raquo;</a>
    </div>
</div>
