---
layout: default
---

<article class="note-single">
    <header class="note-single__header">
        <h1 class="note-single__title">{{ page.title }}</h1>
        {% if page.description %}
            <p class="note-single__description">{{ page.description }}</p>
        {% endif %}
    </header>

    <div class="note-single__content-wrapper">
        {% comment %} Logika wyświetlania obrazka w notatkach {% endcomment %}
        {% assign image_prefix = '/images/notes/' %}
        {% assign raw_image_name = page.image_main %}
        {% assign final_image_path_notes = nil %}

        {% if raw_image_name %}
            {% if raw_image_name contains '/' %}
                {% assign final_image_path_notes = raw_image_name %}
            {% else %}
                {% assign final_image_path_notes = image_prefix | append: raw_image_name %}
            {% endif %}
        {% endif %}

        {% if final_image_path_notes %}
        <aside class="note-single__main-info">
            <img src="{{ final_image_path_notes | relative_url }}" alt="{{ page.title | default: 'Zdjęcie notatki' }}" class="note-single__main-image">
        </aside>
        {% endif %}

        <div class="note-single__main-content">
            {{ content }}
        </div>
    </div>

    <div class="note-single__actions">
        <a href="{{ '/' | relative_url }}#notes" class="button primary-button" aria-label="Wróć do wszystkich notatek na stronie głównej">
            Wszystkie notatki
        </a>
    </div>

    <div class="note-single__footer">
        {% assign month_names = "Styczeń,Luty,Marzec,Kwiecień,Maj,Czerwiec,Lipiec,Sierpień,Wrzesień,Październik,Listopad,Grudzień" | split: "," %}

        {% if page.last_modified_at %}
            {% assign day = page.last_modified_at | date: "%-d" %}
            {% assign month_number = page.last_modified_at | date: "%-m" | minus: 1 %}
            {% assign month_name_pl = month_names[month_number] %}
            {% assign year = page.last_modified_at | date: "%Y" %}
            <p class="note-date">
                Ostatnia aktualizacja:
                <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ day }} {{ month_name_pl }} {{ year }}</time>
            </p>
        {% elsif page.date %}
            {% assign day = page.date | date: "%-d" %}
            {% assign month_number = page.date | date: "%-m" | minus: 1 %}
            {% assign month_name_pl = month_names[month_number] %}
            {% assign year = page.date | date: "%Y" %}
            <p class="note-date">
                Opublikowano:
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ day }} {{ month_name_pl }} {{ year }}</time>
            </p>
        {% endif %}
    </div>
</article>
